:root {--dark:#171635;--light:#3a3a86;--yel:#fd751e;}
* {margin:0;padding:0;box-sizing:border-box;}
body {
  background-color : var(--light);color:white;}section {
  background-color : var(--dark);
  max-width : 400px;min-width:310px;
  width : 85%;
  position : absolute;padding:10px 0;
  top:0;left:0;right:0;bottom:0;
  margin:auto;border-radius:25px;
  box-shadow:7px 7px 3px rgba(0,0,0,0.2) inset, -7px -7px 3px rgba(0,0,0,0.2) inset;}
span {color:var(--yel);}
h3 {font-family:text1;text-align:center;margin-bottom:10px;}
.screen {width:100%;background-color:#0d0c20;padding:10px;}
input {
  width:100%;background-color:transparent;
  font-size:200%;margin-bottom:10px;
  text-align:right;padding:10px;
  border:0;color:white;font-family:text2;}
.science, .basic {
  width:100%;display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;justify-items:center;
  align-items:center;color:var(--yel);}
button {
  outline:none;background-color:rgba(255,255,255,0.5);
  width:45px;height:40px;
  border:none;border-radius:5px 10px 15px 20px/15px 20px 25px 25px;
  margin-top:2px;color:white;
  text-align:center;font-family:text1;
  font-weight:bold;box-shadow:-5px -5px 5px 0 rgba(0,0,0,0.2) inset, 5px 5px 5px 0 rgba(255,255,255,0.3) inset;}
button:active {box-shadow:0 0}
.important {background-color:var(--yel) !important;color:#171636;}
.buttonSpace {
  font-weight:bold;font-family:text2;
  font-size:10px;margin:5px;text-align:center;}
.buttons {padding: 20px 0;}
.basic {margin-top:25px;}
#question {font-size:120%;}
@font-face {font-family:text1;src:url(Allt.ttf);}
@font-face {font-family:text2;src:url(JosefinLight.ttf);}
footer{
  font-family:text1; position:relative;
  text-align:center;margin-top:20px;z-index:-5;}
  footer a{color: var(--yel);}
@media (min-aspect-ratio :4/3) {
  section {position:relative;}body {padding:20px 0;}
}
@media (max-height : 600px) {
  section {position:relative;}body {padding:20px 0;}
}
@media (min-height:610px) {
  footer {
    bottom:0;left:0;right:0;
    margin:auto;position:relative;
    }
  section{position:relative;}
}
#advert {
  position:absolute;z-index:1;
  background-color:rgba(253,117,30,0.3);
  top:0;left:0;width:0px;animation-duration:2s;
  padding:10px;border-radius:0 5px 5px 0;
  border-top:15px solid var(--light);
  border-bottom:15px solid var(--light);
  animation-name:advert;animation-delay:-1s;
  animation-fill-mode:forwards;font-family:text1;
}
#advert h3{text-align:left;}
a{color:var(--dark);}
#advert span{color:white; margin-left:120px;font-weight:bold;font-size:150%;}
#notif{
  font-size:5px; margin-top:-10px;
  background-color:var(--yel);color:var(--dark);
  width:7px;height:7px;
  justify-content:center; align-items:center;
  display:none;border-radius:1px;
  }
.basic button {background-color:white;color:var(--dark);}
@keyframes advert {
  0% {width:0;}
  20% {width:30px;}
  40% {width:60px;}
  60% {width:90px;}
  80% {width:120px;}
  100% {width:150px;}
  }
#hyp { 
  width:150px;height:100px;background-color:rgba(253,117,30,0.3);
  display:none;grid-template-columns:1fr 1fr;
  gap:0;position:absolute;margin-top:-120px;
  border-radius:10px;
  box-shadow:3px 3px 3px 0 rgba(0,0,0,0.2) inset, -3px -3px 3px 0 rgba(0,0,0,0.2) inset;
}
#hyp div{display:flex;justify-content:center;}
